[submodule "Intro/vendor/spdlog"]
	path = Intro/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Intro/vendor/glm"]
	path = Intro/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Intro/vendor/nlohmann"]
	path = Intro/vendor/nlohmann
	url = https://github.com/nlohmann/json
[submodule "Intro/vendor/GLFW1"]
	path = Intro/vendor/GLFW1
	url = https://github.com/TheCherno/glfw
